#code,
#widget,
#logs {
  border: 1px solid #dbdbdb;
}

#widget,
#logs {
  height: 550px;
  width: 400px;
}

#widget {
  margin-right: 20px;
  width: 320px;
}

#logs {
  width: 700px;
}

#logs,
pre,
code {
  background: white !important;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 14px !important;
  line-height: 1.5;
  overflow: scroll;
  padding: 0;
  white-space: pre;
}

#logs .line {
  border-bottom: 1px solid #dbdbdb;
  display: block;
  padding: 10px;
}

#logs .line .label {
  font-weight: bold;
  padding-right: 10px;
}

#test-ping {
  margin-bottom: 10px;
}

h1 {
  font-family: sans-serif;
  margin-bottom: 10px;
  margin-top: 20px;
}

pre {
  margin: 0;
  padding: 10px;
}

table {
  margin: 10px auto;
}

table,
tr,
td {
  border-collapse: collapse;
  cursor: default;
}
